.location__city {
    color: inherit;
    font-size: 32pt;
}

.location__country {
    font-size: 25pt;
    color: rgb(18, 38, 58, 0.5)
}

@media screen and (max-width: 1060px) {
    .location__city {
      font-size: 30px;
    }
    .location__country {
        font-size: 25px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .location__city {
        font-size: 25px;
      }
      .location__country {
          font-size: 20px;
      }
    
  }