.weather__wrap {
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    color: rgb(18, 38, 58, 1);
}


@media screen and (max-width: 900px) {
  .weather__wrap {
    flex-direction: column;
  }
}
