$white: rgb(236, 235, 228, 1);
$opaque-white: rgb(236, 235, 228, 0.7);

$light-orange: rgb(204, 153, 141, 1);
$aqua: rgb(22, 244, 208, 1);
$dark-aqua: rgb(66, 158, 166, 1);
$dark: rgb(21, 59, 80, 1);
