.sunrise__wrap,
.sunset__wrap {
  flex: 1 1 0;
  padding: 30px;
  font-size: 25pt;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 38, 58, 0.2);
  
}

h4 {
  font-size: 25px;
  font-weight: normal;
  margin: 0px;
}

.suntime__icon {
  width: 20%;
}

.suntime__wrap {
  width: 60%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.time__difference {
  width: 40%;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.sunrise__wrap svg,
.sunset__wrap svg {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 1060px) {
  h4 {
    font-size: 20px;
  }
  .time__difference {
    font-size: 15px
  }
  .sunrise__wrap, .sunset__wrap {
    font-size: 25px;
    padding: 20px;
  }
}
