.sidebar__wrap {
  height: 100%;
  width: 30%;
  min-width: 450px;
  color: rgb(236, 235, 228, 1);
  background: rgb(21, 59, 80);
  background: -moz-linear-gradient(149deg, rgba(21, 59, 80, 1) 50%, rgba(66, 158, 166, 1) 100%);
  background: -webkit-linear-gradient(149deg, rgba(21, 59, 80, 1) 50%, rgba(66, 158, 166, 1) 100%);
  background: linear-gradient(149deg, rgba(21, 59, 80, 1) 50%, rgba(66, 158, 166, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#153b50",endColorstr="#429ea6",GradientType=1);
  text-transform: capitalize;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
  overflow-y: auto;
  position: relative;
}

h3 {
  font-weight: normal;
  font-size: 30px;
  margin: 0px;
}
.sidebar__location {
  display: flex;
  justify-content: space-between;
  /* height: 20%; */
}
.sidebar__weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15pt;
  padding-bottom: 20px;
  border-bottom: rgb(236, 235, 228, 0.5) solid 1px;
}

.weather__description {
  width: 40%;
}

.temperature {
  font-size: 35pt;
  font-weight: 600;
  color: rgb(236, 235, 228, 1);
}

.suntimes__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__icon {
  height: 50%;
  position: absolute;
  right: 0;
  top: 10%;
}
